/*
 * Device component reset
 */

.ly-project {
  font-size: 13px;
}

.ly-project * {
  font-size: 1em;
  font-family: 'Proxima Nova','Helvetica',sans-serif
  background: none repeat scroll 0 0 transparent;
  background-color: #fff;
  color: #555;
  border: medium none;
  border-spacing: 0;
  font-size: 1em;
  list-style: none outside none;
  margin: 0;
  padding: 0;
  text-align: left;
  text-decoration: none;
  text-indent: 0;
  line-height: 1.2em;
  text-shadow: 0 1px 0 rgba(255,255,255,0.6);
  -webkit-font-smoothing: antialiased;
}

.ly-project * {
  font-family: 'Proxima Nova','Helvetica',sans-serif
}


a,a:visited {
  text-decoration: none;
  color: #fff;
}

a:hover,a:visited:hover {
  color: #fff;
}

.ly-project-item-card {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  text-shadow: none;
  background-color: #fff;
}

li.ly-project-item-card {
  border: 1px solid #f6f6f6;
}

.ly-project-item-card.ly-project-list-item {
  margin: 10px 10px 0
}

.ly-project-item-card .ly-project-user-avatar {
  width: 248px;
  height: 100px;
  -webkit-border-radius: 5px 5px 0 0 ;
  border-radius-top: 5px 5px 0 0 ;
}

.ly-project-item-card.ly-project-list-item {
  width: 250px;
  float: left;
  list-style: none;
  position: relative;
  background-color: #fff;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  border: 1px solid #f4f4f4;
  box-shadow: 0 2px 2px rgba(153,153,153,0.1);
  transition-property: all;
  transition-duration: .3s;
  transition-timing-function: ease-in-out;
  transition-delay: 0;

}

.ly-project-item-card .ly-project-title {
  color: #333;
  font-size: 1.2em;
  line-height: 1.3em;
  word-wrap: break-word;
  padding: 15px 10px 15px;
}

.ly-project-item-card .ly-project-tags {
  font-size: 1em;
  width: 90%;
  padding: 0px 10px 15px;
}

.ly-project-item-card .ly-project-tag:before {
  content: "#";
}

.ly-project-item-card .ly-project-tag {
  padding-right: 5px;
  display: inline-block;
}

.ly-project-item-card .ly-project-title a,
.ly-project-item-card .ly-project-title a:hover,
.ly-project-item-card .ly-project-title a:visited:hover {
  color: #239cbb;
  background-color: transparent;
}

.ly-project-item-card .ly-project-tag,
.ly-project-item-card .ly-project-tag#hover {
  font-weight: bolder;
  color: #333;
}

.ly-project-item-card .ly-project-description {
  color: #666;
  font-size: .95em;
  line-height: 1.3em;
  width: 90%;
  word-wrap: break-word;
  padding: 10px;
  padding-top: 0;
}

.ly-project-item-card .ly-project-link {
  bottom: 0;
  color: #239cbb;
  font-size: 1em;
  padding: 10px 10px;
  margin: 0;
}

.ly-project-item-card .ly-project-link a,
.ly-project-item-card .ly-project-link a:hover {
  color: #239cbb;
}

.ly-project-item-card .ly-project-footer {
  background-color: #EFFAFD;
  text-align: right;
  margin-top: 15px;
}

.ly-project-item-card .ly-project-footer a {
  background-color: #EFFAFD;
}
